<!DOCTYPE html>
<html>
<head>
    <title>MadLibs!</title>

</head>
<body>
    Hi {{person}}!
    <form action="/madlib">
        <label for="color">Pick a color</label>
        <input type ="text" name="color" id="color">
        
        <label for="noun">Pick a noun</label>
        <input type ="text" name="noun" id="noun">       
        
        <label for="person">Pick a person's name</label>
        <input type ="text" name="person" id="person">       
        
        <label for="adjective">Pick a adjective</label>
        <input type ="text" name="adjective" id="adjective">
        
        <input type="submit" value="submit">
    </form>
</body>



</html>